:root{
    --TipografiaTitulo : 'Oswald', sans-serif;
    --TipografiaSecundaria: 'Ubuntu', sans-serif;
    --TipografiaGeneral: 'Belanosima', sans-serif;
    --FondoHeader: #0E0E1A;
    --FondoBody: #20203D;
    --ColorAzul: #200778;
    --ColorAzulClaro: #0838FF;
    --ColorVioleta: #E800B4;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    width: 100%;
    height: 100%;
}
body{
    position: relative;
    background-color: var(--FondoBody);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
header{
    position: fixed;
    height: 110px;
    width: 100%;
    background-color: var(--FondoHeader);
    display: flex;
    align-items: center;
    z-index: 10000;
    border-bottom: 1px solid var(--ColorAzulClaro);
}
.Contenedor-Titulo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Contenedor-Titulo img{
    width: 70px;
}
.Contenedor-Titulo h1{
    font-family: var(--TipografiaTitulo);
    color: #FFFFFF;
    font-size: 22px;
}
.Contenedor-Botones{
    display: flex;
    align-items: center;
}
.Contenedor-Botones:nth-child(1){
    position: absolute;
    right: 45px;
}
#Contenedor-Botones{
    position: absolute;
    left: 45px;
}
.Contenedor-Botones span{
    font-size: 25px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .5s;
}
.Contenedor-Botones span:hover{
    color: var(--ColorAzulClaro);
    transition: .5s;
}
.Contenedor-Menu{
    position: absolute;
    top: 110px;
    width: 170px;
    height: 252px;
    background-color: var(--FondoHeader);
}
.Lista{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.Lista a{
    position: relative;
    width: 100%;
    padding: 31.2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: var(--TipografiaSecundaria);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    
    transition: .5s;
}
.Lista a li span:not(.Contenedor-Grupo span){
    margin-right: 10px;
}
.Lista a:hover{
    background-color: #161629;
    color: var(--ColorAzulClaro);
    transition: .5s;
}
.Lista a li{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Menu{
    left: 0;
    display: none;
    z-index: 10000;
    border: 1px solid #1857CC;
    border-left: none;
    border-top: none;
}
.Lista-Menu a{
    padding: 30.8px 0;
}
.Lista-Menu a:nth-child(4){
    padding: 33px 0;
}
.Contenedor-Grupo{
    position: relative;
    left: -8px;
    width: 35px;
    height: 35px;
}
.Contenedor-Grupo span{
    position: absolute;
}
.Contenedor-Grupo span:nth-child(1){
    left: -2.5px;
}
.Contenedor-Grupo span:nth-child(2){
    bottom: 3px;
    left: 5px;
}
.Contenedor-Grupo span:nth-child(3){
    right: -2.5px;
}
nav{
    z-index: 10000;
    display: none;
    right: 0;
    border: 1px solid #1857CC;
    border-right: none;
    border-top: none;
}
@media (min-width: 1100px) {
    .Contenedor-Botones{
        display: none;
    }
    .Contenedor-Titulo{
        margin-left: 15px;
    }
    .Menu{
        display: initial;
        top: 0;
        left: 210px;
        width: 500px;
        height: 100%;
        border: none;
    }
    .Menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .Menu ul a{
        padding: 0;
    }
    .nav{
        position: absolute;
        display: initial;
        top: 0;
        right: 0;
        width: 500px;
        height: 100%;
        border: none;
        z-index: 1000000;
    }
    .nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: none;
    }
    .nav ul a{
        display: inline;   
        width: 150px;
        height: 0;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav ul a:nth-child(1), .nav ul a:nth-child(2){
        width: 40px;
        left: 5px;
    }
    .search, .settings{
        position: absolute;
        left: 9px;
    }
    .nav ul li{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Buscar, .Confi{
        display: none;
    }
    .Lista a:hover{
        background-color: transparent;
    }
}
.Crear-Cuenta{
    position: absolute;
    top: 170px;
    width: 330px;
    height: 440px;
    border-radius: 10px;
    background: var(--FondoHeader);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 220px 30px 60px 40px;
    row-gap: 7px;
}
.Crear-Cuenta:nth-child(1){
    z-index: 10000;
    display: grid;
}
.Crear-Cuenta:nth-child(2), .Crear-Cuenta:nth-child(3), .Crear-Cuenta:nth-child(4){
    display: none;
}
.Crear-Cuenta::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg ,var(--ColorAzulClaro), var(--ColorVioleta), var(--ColorAzul), var(--ColorVioleta));
    background-size: 100%;
    filter: blur(8px);
    border-radius: 10px;
    z-index: -100;
}
.Contenedor-Crear:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--ColorAzulClaro);
    font-family: var(--TipografiaSecundaria);
    font-size: 21px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0 30px;
}
.Contenedor-Crear:nth-child(1) button{
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 10px 0 20px 0;
    background-color: transparent;
    color: #FFFFFF;
    font-family: var(--TipografiaSecundaria);
    font-size: 20px;
    border: none;
    border-bottom: 3px solid var(--ColorAzulClaro);
    border-right: 3px solid var(--ColorAzulClaro);
    transition: .5s;
    cursor: pointer;
}
.Contenedor-Crear:nth-child(1) button:hover{
    background-color: #0838FF;
    transition: .5s;
}
.Contenedor-Crear:nth-child(2){
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Contenedor-inputs{
    position: relative;
    width: 80%;
    height: 50px;
}
.Contenedor-inputs input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 4px solid var(--ColorAzulClaro);
    background-color: transparent;
    outline: none;
    padding: 10px 15px 0 15px;
}
.Contenedor-inputs label{
    position: absolute;
    top: 19px;
    left: 17px;
    font-family: var(--TipografiaGeneral);
    font-weight: 600;
    color: #9b9292;
    transition: .5s;
}
.Contenedor-inputs input:focus~label{
    top: -10px;
    color: #2969FF;
    transition: .5s;
}
.Contenedor-Crear:nth-child(3){
    position: relative;
    top: -5px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 35px;
}
.Contenedor-Crear:nth-child(3) a:not(#Pantalla1 .Contenedor-Crear:nth-child(3) a){
    display: none;
}
.Contenedor-Crear:nth-child(3) a{
    font-family: var(--TipografiaSecundaria);
    color: #0838FF;
    font-weight: 600;
    transition: .5s;
}
.Contenedor-Crear:nth-child(3) a:hover{
    color: #200778;
    transition: .5s;
}
.Contenedor-Crear:nth-child(4){
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contenedor-Crear:nth-child(4):not(#Pantalla1 .Contenedor-Crear:nth-child(4)){
    top: -10px;
}
.Contenedor-Crear:nth-child(4) button, .Contenedor-Crear:nth-child(4) input{
    padding: 10px 32px;
    border: 4px solid #0838FF;
    background-color: var(--FondoHeader);
    color: #FFFFFF;
    font-family: var(--TipografiaSecundaria);
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}
.Contenedor-Crear:nth-child(4) button:hover, .Contenedor-Crear:nth-child(4) input:hover{
    background-color: #0838FF;
    color: #FFFFFF;
    transition: .5s;
}
.Contenedor-Crear:nth-child(5){
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contenedor-Crear:nth-child(5) > div{
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 7px;
    border: 2px solid #947290;
}
footer{
    background-color: var(--FondoHeader);
    position: absolute;
    width: 100%;
    min-width: 375px;
    top: 100%;
    display: grid;
    grid-template-columns: minmax(105px, 215px) minmax(110px, 215px) minmax(105px, 215px);
    grid-template-rows: 150px 55px 40px;
    background-color: var(--FondoHeader);
}
.Footer-Redes{
    grid-column: 1 / 2;
}
.Footer-Opciones, .Footer-Redes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
}
.Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-bottom: 1px solid var(--ColorAzulClaro);
}
.Lista-Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Footer-Redes h3, .Footer-Opciones h3{
    font-family: var(--TipografiaSecundaria);
    font-size: 14px;
    color: #FFFFFF;
}
.Footer-Redes ul, .Footer-Opciones ul{
    font-family: var(--TipografiaSecundaria);
    font-size: 13px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Footer-Redes ul li a, .Footer-Opciones ul li a{
    color: #FFFFFF;
}
.Footer-Redes ul li a:hover, .Footer-Opciones ul li a:hover{
    color: var(--ColorAzulClaro);
}
.Footer-Titulo{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Footer-Titulo img{
    width: 90px;
}
.Footer-Titulo h1{
    font-size: 19px;
    font-family: var(--TipografiaTitulo);
    color: #FFFFFF;
}
.Footer-Opciones{
    grid-column: 3 / 4;
}
.Patrocineos{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--ColorAzulClaro);
}
.Patrocineos img{
    width: 45px;
}
.Derechos{
    background-color: #000000;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    color: #FFFFFF;
    font-family: var(--TipografiaSecundaria);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}